/* Css reset by Josh Comeau*/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Norse Sans Runic";
  src: url("./fonts/Norse.otf"), url("./fonts/Norsebold.otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.side-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("./resources/microsoft-copilot-qUJ8fgoaLTg-unsplash.jpg");
  width: 25%;
  min-height: 100dvh;
  background-size: cover;
}

.odin-logo {
  margin-top: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.odin-logo > img {
  height: 80%;
}

.logo-text {
  font-family: "Norse Sans Runic", sans-serif;
  font-size: 5.6rem;
  color: white;
}

.copyright {
  margin: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
}

.main-text {
  width: 80%;
}

.main-text,
.main-content > p {
  font-weight: 600;
  font-size: clamp(0.7rem, calc(0.4rem + 1vw), 3rem);
  padding-right: 15vw;
}

.main-text > p:first-child {
  margin: 70px 25px 0;
}

.main-text > p:nth-child(2) {
  margin: 25px;
}

form fieldset {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: none;
  box-shadow: 0 5px 10px #dadadc;
  margin: 0;
  padding: 25px;
}

.row {
  display: flex;
  gap: 50px;
  width: 100%;
}

.input {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-color: #e5e7eb;
}

input {
  border: solid #e5e7eb;
  border-radius: 15px;
  width: 100%;
  flex: 1;
}

input:user-invalid {
  border: solid #dc2626;
}

input:focus {
  border-color: blue;
  box-shadow: 1px 1px 5px 1px grey;
}

label {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

button {
  font-size: 1rem;
  width: 200px;
  margin-left: 50px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 10px;
  padding: 14px;
  border: 0;
  background-color: #596d48;
  color: white;
  font-weight: 600;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.main-content > p:last-child {
  margin-left: 50px;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: #596d48;
}
